@using BlazorApp.Models.ViewModels
@using BlazorApp.Stores
@using System.ComponentModel

<main class="flex w-full h-full m-auto justify-center items-center">
    @if (!IsLoading)
    {
        <NavLink href="@($"pokemon/{Item.Id}")">
            <div class="min-height-[80px]">
                <img src="@Item.FrontSprite" class="w-32 h-32" style="view-transition-name: pokemon-@Item.Id" />
                <section class="flex flex-row gap-2">
                    <b class="capitalize">@Item.Name</b>
                    <a href="#" @onclick="(e) => SetFavoriteOnClick(Item.Id, Item.IsFavorite)">
                        <img class="w-6 h-6"
                             src="@(string.Format("dist/images/{0}.svg", Item.IsFavorite ? "remove-favorite" : "add-favorite"))" />
                    </a>
                </section>
            </div>
        </NavLink>
    }
    else
    {
        <div class="flex w-full h-full justify-center items-center">
            <img width="64" height="64" src="dist/images/loading.gif" />
        </div>
    }
</main>

@code {
    [Parameter]
    public PokemonListRowViewModel Item { get; set; }
        = new();

    [Parameter]
    public Action<int, bool> SetFavoriteOnClick { get; set; }
        = (x, y) => { };

    [Parameter]
    public bool IsLoading { get; set; }
        = false;
}
